
Day 4/Part 2/.vs/Part 2/v17/.suo
*.db
*.ipch
*.sln
*.vcxproj
*.filters
*.vsidx
*.lock
Day 5/Part 1/.vs/Part 1/v17/.suo
*.com%002Ffwlink%002F%003Flinkid%003D835884
*.user
*.obj
*.enc
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.idb
Day 5/Part 2/.vs/Part 2/v17/.suo
*.db-shm
*.db-wal
*.opendb
Day 5/Part 1/x64/Debug/Part 1.vcxproj.FileListAbsolute.txt
Day 5/Part 2/x64/Debug/Part 2.vcxproj.FileListAbsolute.txt
